/* Import the Lexend Deca font directly */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

/* Apply Lexend Deca as the default text font */
body {
  font-family: 'Lexend Deca', sans-serif !important;
}

/* Apply Lexend Deca to all headers */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lexend Deca', sans-serif !important;
}

/* Preserve monospace for code blocks */
code, pre, kbd, samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Consolas, "Liberation Mono", monospace;
}



